<%- include('partials/_head.ejs') %>
</head>
<body>
    <%- include('partials/_nav.ejs') %>
    <main>
        <% if (validationErrorMessage) { %>
            <h3 class="centered">Error: <%= validationErrorMessage %></h3>
        <% } %>
        <form action="/login" method="post">
            <div class="centered">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" value="<%= oldInputs.email %>">
            </div>
            <div class="centered">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= oldInputs.password %>">
            </div>
            
            <div class="centered"><button type="submit">Login</button></div>
            
            <p class="centered">Don't have an account? <a href="/signup">Signup</a></p>
        </form>
    </main>

<%- include('partials/_footer.ejs') %>