<%- include('partials/_head.ejs') %>
</head>
<body>
    <%- include('partials/_nav.ejs') %>
    <main>
        <% if (validationErrorMessage) { %>
            <h3 class="centered">Error: <%= validationErrorMessage %></h3>
        <% } %>
        <form action="/signup" method="post">
            <div class="centered">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" value="<%= oldInputs.email %>">
            </div>
            
            <div class="centered">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" value="<%= oldInputs.password %>">
            </div>
            <div class="centered">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword" value="<%= oldInputs.confirmPassword %>">
            </div>
            <div class="centered">
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" id="firstName" value="<%= oldInputs.firstName %>">
            </div>
            <div class="centered">
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" id="lastName" value="<%= oldInputs.lastName %>">
            </div>
            <div class="centered">
                <label for="address">Address</label>
                <input type="text" name="address" id="address" value="<%= oldInputs.address %>">
            </div>
            <div class="centered">
                <button type="submit">Signup</button>
            </div>   
        </form>
    </main>

<%- include('partials/_footer.ejs') %>